/*----------------------Style Globaux----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.Lumiere,
.piano,
.piano2,
.piano-1,
.piano2-1,
.langue,
.langue-1,
.trompette,
.trompette-1,
.bde,
.bde-1,
.sport,
.sport2,
.sport-1,
.sport2-1,
.conseiller,
.conseiller-1,
.Projet,
.projet-1,
.projet-2,
.ordi,
.ordi-1 {
  border: 2px solid red;
}

body {
  margin: 0;
}

/*----------------------Style Lumiere-Projet----------------------*/

.body {
  background-image: url(1.png);
  background-size: cover;
  background-position: top 20% center ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.body2 {
  background-image: url(4.png);
  background-size: cover;
  background-position: top 20% center ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.body3 {
  background-image: url(3.png);
  background-size: cover;
  background-position: top 20% center ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.body4 {
  background-image: url(2.png);
  background-size: cover;
  background-position: top 20% center ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.Lumiere {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 34.5%;
  bottom: 46%;
  border-radius: 50px;
  cursor: pointer;
  z-index: 10;
}

.Projet {
  width: 180px;
  height: 70px;
  position: absolute;
  right: 25%;
  bottom: 8%;
  cursor: pointer;
}



/*----------------------Style Piano----------------------*/

.feuillePiano {
  background-image: url(feuillePiano.jpg);
  background-size: cover;
  background-position: center top -25px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  height: 60vh;
  width: 60vh;
  position: absolute;
  top: 15%;
  left: 61%;
}

.piano {
  width: 300px;
  height: 170px;
  position: absolute;
  right: 74%;
  bottom: 35%;
  cursor: pointer;
}

.piano2 {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 71%;
  bottom: 41%;
  cursor: pointer;
}

.piano-1 {
  width: 600px;
  height: 270px;
  position: absolute;
  right: 50%;
  bottom: 33%;
  cursor: pointer;
}

.piano2-1 {
  width: 100px;
  height: 200px;
  position: absolute;
  right: 43%;
  bottom: 34%;
  cursor: pointer;
}

.zoomedBackgroundPiano {
  animation: ZoomPiano 0.5s ease-in-out;
  background-size: 200%;
  background-position: center left 0%;
}

.unzoomedBackgroundPiano {
  background-size: cover;
  animation: DezoomPiano 0.5s ease-in-out;

}

.text-piano, .text-piano2, .text-piano3, .text-piano4, .text-piano5 {
  font-family: 'Delius Swash Caps', cursive;
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  position: absolute;
  
}

.text-piano{
  bottom: 84%;
  left: 15%;
}

.text-piano2{
  top: 5%;
  left: 8%;
}

.text-piano3{
  top: 25%;
  left: 8%;
}

.text-piano4{
  top: 35%;
  left: 8%;
}

.text-piano5{
  top: 57%;
  left: 8%;
}

/*----------------------Style Langue----------------------*/

.feuillelangue {
  background-image: url(feuilleLangue.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  height: 70vh;
  width: 90vh;
  position: absolute;
  top: 10%;
  left: 61%;
}

.langue {
  width: 360px;
  height: 235px;
  position: absolute;
  right: 69.5%;
  bottom: 65.5%;
  cursor: pointer;
}

.langue-1 {
  width: 730px;
  height: 470px;
  position: absolute;
  right: 39%;
  bottom: 26%;
  cursor: pointer;
}

.zoomedBackgroundLangue {
  animation: ZoomLangue 0.5s ease-in-out forwards;
}

.fixedZoomLangue {
  background-size: 200%;
  background-position: top left;
}

.unzoomedBackgroundLangue {
  background-size: cover;
  animation: DezoomLangue 0.5s ease-in-out;
}

.text-langue, .text-langue2, .text-langue3, .text-langue4 {
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  position: absolute;
  
}

.text-langue{
  top: 20%;
  left: 35%;
}

.text-langue2{
  top: 30%;
  left: 8%;
}

.text-langue3{
  top: 40%;
  left: 8%;
}

.text-langue4{
  top: 50%;
  left: 8%;
}

/*----------------------Style Trompette----------------------*/

.feuilleTrompette {
  background-image: url(feuilleTrompette.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  height: 80vh;
  width: 90vh;
  position: absolute;
  top: 10%;
  left: 50%;
}

.trompette {
  width: 220px;
  height: 100px;
  position: absolute;
  right: 53.5%;
  bottom: 80%;
  cursor: pointer;
}

.trompette-1 {
  width: 420px;
  height: 170px;
  position: absolute;
  right: 58%;
  bottom: 57%;
  cursor: pointer;
}

.zoomedBackgroundTrompette {
  animation: ZoomTrompette 0.5s ease-in-out forwards;
}

.fixedZoomTrompette {
  background-size: 200%;
  background-position: top;
}

.unzoomedBackgroundTrompette {
  background-size: cover;
  animation: DezoomTrompette 0.5s ease-in-out;
}

.text-trompette, .text-trompette2, .text-trompette3, .text-trompette4 {
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  position: absolute;
  
}

.text-trompette{
  top: 20%;
  left: 30%;
}

.text-trompette2{
  top: 30%;
  left: 10%;
}

.text-trompette3{
  top: 40%;
  left: 10%;
}

.text-trompette4{
  top: 50%;
  left: 10%;
}

/*----------------------Style Bde----------------------*/

.feuilleBde {
  background-image: url(feuilleBde.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0;
  height: 110vh;
  width: 110vh;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.bde {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 44.5%;
  bottom: 92%;
  cursor: pointer;
}

.bde-1 {
  width: 195px;
  height: 100px;
  position: absolute;
  right: 79%;
  bottom: 79%;
  cursor: pointer;
}

.zoomedBackgroundBde {
  animation: ZoomBde 0.5s ease-in-out forwards;
}

.fixedZoomBde {
  background-size: 200%;
  background-position: top right;
}

.unzoomedBackgroundBde {
  background-size: cover;
  animation: DezoomBde 0.5s ease-in-out;
}

.text-bde, .text-bde2, .text-bde3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  position: absolute;
  
}

.text-bde{
  top: 27%;
  left: 10%;
  width: 200px;
}

.text-bde2{
  top: 52%;
  left: 10%;
  width: 200px;

}

.text-bde3{
  top: 30%;
  left: 45%;
  width: 150px;
}

/*----------------------Style Sport----------------------*/

.feuilleSport {
  background-image: url(feuilleSport.png);
  filter: drop-shadow(30px 10px 4px black);
  background-position: center top -25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 00%;
  left: 41%;
}

.feuilleSport2 {
  background-image: url(feuilleSport.png);
  filter: drop-shadow(30px 10px 4px black);
  background-position: center top -25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 00%;
  left: 41%;
}

.feuilleSport3 {
  background-image: url(feuilleSport.png);
  filter: drop-shadow(30px 10px 4px black);
  background-position: center top -25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 00%;
  left: 41%;
}

.sport {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 88.5%;
  bottom: 0%;
  cursor: pointer;
}

.sport2 {
  width: 180px;
  height: 60px;
  position: absolute;
  right: 72.5%;
  bottom: 0%;
  cursor: pointer;
}

.sport-1 {
  width: 370px;
  height: 500px;
  position: absolute;
  right: 75%;
  bottom: 8%;
  cursor: pointer;
}

.sport2-1 {
  width: 400px;
  height: 250px;
  position: absolute;
  right: 45%;
  bottom: 6%;
  cursor: pointer;
}

.zoomedBackgroundSport {
  animation: ZoomSport 0.5s ease-in-out;
  background-size: 200%;
  background-position: bottom left 0%;
}

.unzoomedBackgroundSport {
  background-size: cover;
  animation: DezoomSport 0.5s ease-in-out;

}

/*----------------------Style Conseiller----------------------*/

.feuilleConseiller {
  background-image: url(feuilleConseiller.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0;
  height: 110vh;
  width: 110vh;
  position: absolute;
  bottom: 0%;
  left: 40%;
}

.conseiller {
  width: 160px;
  height: 100px;
  position: absolute;
  right: 46%;
  bottom: 4%;
  cursor: pointer;
}

.conseiller-1 {
  width: 350px;
  height: 200px;
  position: absolute;
  right: 71%;
  bottom: 29%;
  cursor: pointer;
}

.zoomedBackgroundConseiller {
  animation: ZoomConseiller 0.5s ease-in-out forwards;
}

.fixedZoomConseiller {
  background-size: 200%;
  background-position: bottom right 20%;
}

.unzoomedBackgroundConseiller {
  background-size: cover;
  animation: DezoomConseiller 0.5s ease-in-out;
}

.text-Conseiller, .text-Conseiller2, .text-Conseiller3, .text-Conseiller4, .text-Conseiller5 {
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  position: absolute;
  
}

.text-Conseiller{
  top: 20%;
  left: 52%;
}

.text-Conseiller2{
  top: 39.5%;
  left: 52%;
}

.text-Conseiller3{
  top: 49.5%;
  left: 50%;
}

.text-Conseiller4{
  top: 35%;
  left: 0%;
}

.text-Conseiller5{
  top: 56%;
  left: 7%;
}

/*----------------------Style Projet----------------------*/

.feuilleProjet {
  background-image: url(feuilleProjet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0;
  height: 90vh;
  width: 90vh;
  position: absolute;
  bottom: 0%;
  left: 30%;
}



.projet-2 {
  width: 175px;
  height: 20px;
  position: absolute;
  right: 25%;
  bottom: 15%;
  cursor: pointer;
  z-index: 10;
}

.projet-1 {
  width: 350px;
  height: 150px;
  position: absolute;
  right: 1%;
  bottom: 35%;
  cursor: pointer;
}

.zoomedBackgroundProjet {
  animation: ZoomProjet 0.5s ease-in-out forwards;
}

.fixedZoomProjet {
  background-size: 200%;
  background-position: bottom  40px;
}

.unzoomedBackgroundProjet {
  background-size: cover;
  animation: DezoomProjet 0.5s ease-in-out;
}

/*----------------------Style Ordi----------------------*/

.feuilleOrdi {
  background-image: url(feuilleOrdi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0;
  height: 90vh;
  width: 90vh;
  position: absolute;
  bottom: 0%;
  left: 30%;
}

.ordi {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 41.5%;
  bottom: 40%;
  cursor: pointer;
  z-index: 10;
}

.ordi-1 {
  width: 60px;
  height: 30px;
  position: absolute;
  right: 28%;
  bottom: 35%;
  cursor: pointer;
  z-index: 12;
}

.zoomedBackgroundOrdi {
  animation: ZoomOrdi 0.5s ease-in-out forwards;
}

.fixedZoomOrdi {
  background-size: 200%;
  background-position: center  ;
}

.unzoomedBackgroundOrdi {
  background-size: cover;
  animation: DezoomOrdi 0.5s ease-in-out;
}

/*----------------------Style Mac----------------------*/

.mac {
  top: 18%; /* Ajuste la position pour l'aligner correctement */
  background-image: url(mac.png);
  z-index: 5; /* En dessous de la barre */
  width: 453px; /* Largeur égale pour les deux */
  height: 285px; /* Hauteur égale pour les deux */
  background-size: 120% auto; /* Étire légèrement la largeur (120% de l'élément) */  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 40.7%;
}

.barre {
  top: 43%; /* Ajuste la position pour qu'elle soit au-dessus */
  background-image: url(barre.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 300px; /* Largeur égale pour les deux */
  height: 300px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 46%;
}

.barreHaute {
  top: 8%; /* Ajuste la position pour qu'elle soit au-dessus */
  background-image: url(barreHaute.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 605px; /* Largeur égale pour les deux */
  height: 405px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 37.3%;
}

.barreBlanche{
  top: 18%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 9; /* Assure que la barre est au-dessus */
  width: 450px; /* Largeur égale pour les deux */
  height: 9px; /* Hauteur égale pour les deux */
  position: absolute;
  left: 40.8%;
  background-color: white;
}

.dateHeure{
  top: 18.1%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 11; /* Assure que la barre est au-dessus */
  font-size: 4pt;
  position: absolute;
  left: 68.5%;
  color: white;
}

.container_pdf1{
  top: 30%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 13; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  position: absolute;
  left: 58%;
  text-align: center;

}

.pdf1{
  background-image: url(pdf.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
}

.p_pdf1{
  z-index: 10; /* Assure que la barre est au-dessus */
  color: beige;
  font-size: 8pt;
  margin-top: -25px;
}

.container_pdf2{
  top: 30%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 13; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  position: absolute;
  left: 50%;
  text-align: center;
}

.pdf2{
  background-image: url(pdf.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
}

.p_pdf2{
  z-index: 10; /* Assure que la barre est au-dessus */
  color: beige;
  font-size: 8pt;
  margin-top: -25px;
}

.container_linkedin{
  top: 30%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 13; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  position: absolute;
  left: 44%;
}

.linkedIn{
  
  background-image: url(linkedin.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 70px; /* Largeur égale pour les deux */
  height: 70px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
}

.p_linkedin{
  z-index: 10; /* Assure que la barre est au-dessus */
  color: beige;
  font-size: 8pt;
  position: absolute;
  left: 16%;
  margin-top: 5px;
}

.container_html{
  top: 31.7%; /* Ajuste la position pour qu'elle soit au-dessus */
  z-index: 13; /* Assure que la barre est au-dessus */
  width: 100px; /* Largeur égale pour les deux */
  height: 100px; /* Hauteur égale pour les deux */
  position: absolute;
  left: 66%;
}

.html{
  background-image: url(html.png);
  z-index: 10; /* Assure que la barre est au-dessus */
  width: 70px; /* Largeur égale pour les deux */
  height: 70px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
}

.p_html{
  z-index: 10; /* Assure que la barre est au-dessus */
  color: beige;
  font-size: 8pt;
  position: absolute;
  right: 30%;
  margin-top: -8px;
}




.mac, .barre, .barreHaute, .barreBlanche, .pdf1, .pdf2, .linkedIn, .html, .p_pdf1, .p_pdf2, .p_linkedin, .p_html, .barreBlanche, .dateHeure {
  opacity: 0; /* Initialement invisible */
  transition: opacity 2s ease-in-out; /* Transition fluide de 2 secondes */
}

/* Quand l'état est visible, on applique l'opacité */
.mac.visible, .barre.visible, .barreHaute.visible, .dateHeure.visible, .barreBlanche.visible, .pdf1.visible, .pdf2.visible, .linkedIn.visible, .html.visible, .p_pdf1.visible, .p_pdf2.visible, .p_linkedin.visible, .p_html.visible, .barreBlanche.visible {
  opacity: 1; /* Fin visible */
}

.boutonRouge{
  background-image: url(boutonRouge.png);
  z-index: 20; /* Assure que la barre est au-dessus */
  width: 20px; /* Largeur égale pour les deux */
  height: 20px; /* Hauteur égale pour les deux */
  background-size: contain; /* Assure que l'image entière est visible */
  background-position: center;
  background-repeat: no-repeat;
  border: 0px;
  padding:0px;
  position: fixed;
  bottom: 77.5%;
  right: 57.5%;

}

.Formation{
  top: 19.3%; /* Ajuste la position pour l'aligner correctement */
  background-image: url(feuillePdf.png);
  z-index: 15; /* En dessous de la barre */
  width: 453px; /* Largeur égale pour les deux */
  height: 240px; /* Hauteur égale pour les deux */
  background-size: auto; /* Étire légèrement la largeur (120% de l'élément) */  
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  left: 40.7%;
}

.Experience{
  top: 19.3%; /* Ajuste la position pour l'aligner correctement */
  background-image: url(feuillePdf.png);
  z-index: 15; /* En dessous de la barre */
  width: 453px; /* Largeur égale pour les deux */
  height: 240px; /* Hauteur égale pour les deux */
  background-size: auto; /* Étire légèrement la largeur (120% de l'élément) */  
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  left: 40.7%;
}


/*----------------------Style Popup----------------------*/


.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2rem;
  width: 320px;
  background: white;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  text-align: center;
}

.linkedin-logo {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 45px;
  height: auto;
}

.popup-container h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.5rem;
  width: 100%;
}

.popup-button {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease;}

.popup-button:hover {
  transform: translateY(-2px);
}

.popup-button.linkedin {
  background: #0077b5;
  color: white;
}

.popup-button.linkedin:hover {
  background: #005582;
}

.popup-button.close {
  background: #e5e7eb;
  color: #333;
}

.popup-button.close:hover {
  background: #d1d5db;
}

.popup-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  bottom: 25%;
  left: 12%;
}

/*----------------------Style FlipBook----------------------*/

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 0rem;
  position: relative;
}

.nav:hover {
  background: white;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.book {
  position: relative;
  perspective: 2500px;
  display: inline-block;
  width: 1000px; /* 2 x 500px = largeur des deux pages */
  height: 500px;
}



.page {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.page.hidden {
  visibility: hidden;
}



/* Cache le contenu front si la page est flipped */
.content.hide-front {
  display: none;
}

/* Affiche le front quand il est visible */
.content.show-front {
  display: block;
}

/* Cache le contenu back si la page n’est pas flipped */
.content.hide-back {
  display: none;
}

/* Affiche le back quand il est visible */
.content.show-back {
  display: block;
}



.page .front,
.page .back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.page .back {
  transform: rotateY(180deg);
}

.page.flipped {
  transform: rotateY(-180deg);
}

.back-background {
  background-image: url(front.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
}

.front-background {
  background-image: url(back.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  /* Supprime toute marge ici aussi */
  margin: 0;
  padding: 0;
}

.photo1projet{
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-top: 40px;
}

.photo1SLprojet{
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-top: 40px;
}

.photo1SRprojet{
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-top: 40px;
}

.photo2projet{
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-left: 30px;
}

.content > h1 {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 300px;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-left: 15px;
}

.tag {
  background-color: #e0e7ff; /* Bleu doux */
  color: #1e3a8a; /* Bleu foncé */
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  justify-content: center;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: #c7d2fe;
  cursor: default;
}

.descriptionprojet{
  width: 300px;
  margin-top: 50px;
  text-align: center;
}


/*----------------------Style Animation----------------------*/

@keyframes ZoomPiano {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: center left;
  }
}

@keyframes DezoomPiano {
  0% {
    background-size: 200%;
    background-position: center left;
  }

  100% {
    background-size: 100%;
  }
}


@keyframes ZoomLangue {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: top left;

  }
}

@keyframes DezoomLangue {
  0% {
    background-size: 200%;
    background-position: top left;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomTrompette {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: top;

  }
}

@keyframes DezoomTrompette {
  0% {
    background-size: 200%;
    background-position: top;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomBde {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: top right 10%;

  }
}

@keyframes DezoomBde {
  0% {
    background-size: 200%;
    background-position: right top 10%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomSport {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: bottom left;

  }
}

@keyframes DezoomSport {
  0% {
    background-size: 200%;
    background-position: bottom left;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomConseiller {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: bottom right 20%;

  }
}

@keyframes DezoomConseiller {
  0% {
    background-size: 200%;
    background-position: bottom right 20%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomProjet {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: bottom  ;

  }
}

@keyframes DezoomProjet {
  0% {
    background-size: 200%;
    background-position: bottom  ;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes ZoomOrdi {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 250%;
    background-position: center  ;

  }
}

@keyframes DezoomOrdi {
  0% {
    background-size: 250%;
    background-position: center  ;
  }

  100% {
    background-size: 100%;
  }
}


/* Animation de séparation */
@keyframes split-animation {
  0% {
    clip-path: inset(0 0 0 0); /* Couvrir entièrement */
  }
  50% {
    clip-path: inset(50% 0 50% 0); /* Ouvrir au centre */
  }
  100% {
    clip-path: inset(100% 0 100% 0); /* Les blocs partent vers le haut et le bas */
  }
}

